@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
universal {
  box-sizing: border-box;
}

body {
  background: #f4f4f4f4 !important;
  margin: 0px;
  padding: 0px;
  font: 20px/1.5 ‘Nunito’, sans-serif;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 5;
  text-align: center;
  padding: 2rem 4rem;
}

.header-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 4rem;
}

.logo {
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 700;
  color: white;
}

header .logo {
  float: left;
  padding: 1em 0.5em 0.5em 0.5em;
}

nav {
  background: transparent !important;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  text-align: center;
  transition: max-height 0.3s;
}

nav li {
  list-style: none;
  padding: 1em 0;
}

nav a {
  color: #fff;
  font-weight: 300;
  opacity: 1;
  text-decoration: none;
  transition: all 0.3s;
}

nav a:hover {
  opacity: 0.6;
  color: #fff;
}

a {
  transition: .3s all ease;
  -webkit-transition: none;
  -o-transition: none;
  text-decoration: none;
}

.heroimage {
  background: url(../images/home.jpg);
  background-size: cover;
  height: 100vh;
}

.heroitems {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 2;
}

.heroitems h1 {
  font-size: 3em;
}

.heroitems p {
  font-size: 1.4em;
  padding-bottom: 2rem;
}

.heroimage:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-padding {
  padding: 7em 0em;
}

.sideleft {
  text-align: center;
}

.sub-heading {
  text-transform: uppercase;
  font-size: 12px;
  color: #cccccc;
  letter-spacing: .1em;
}

.heading {
  font-size: 50px;
  margin-bottom: 30px;
}

.button {
  background-color: #697e83;
  transition: .3s all ease;
  padding: 12px 30px;
  margin-top: 0 !important;
  text-transform: uppercase;
  letter-spacing: .15em;
  color: #fff;
  border: 1px solid #697e83;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.button:hover {
  color: #697e83;
  background-color: #ffffff;
}

#toggle {
  display: none;
}

.label {
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 30px;
  float: right;
  color: #fff;
}

.bg-color {
  background-color: #f8f9fa !important;
}

.feature {
  text-align: center;
}

.feature-image {
  position: relative;
  text-align: center;
}

.feature-image img {
  display: inline block;
  width: 300px;
  margin: 1em;
}

.newsletter {
  padding: 2.4em;
  color: white;
  background: #35424a;
  overflow: hidden;
}

.newsletter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.newsletter input[type="email"] {
  padding: 20px 30px;
  height: 2.8em;
  width: 250px;
  outline: none;
}

.footer {
  align-content: center;
  margin-bottom: 4em;
  flex: 1;
}

.footer-grid {
  display: flex;
}

.main-footer {
  padding: 4em 0em 0.9em 0em;
  background: #f2f2f2;
}

.copyright {
  clear: left;
  text-align: center;
}

.rooms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rooms-pic-1 {
  position: relative;
  overflow: hidden;
  padding: 1em 1em;
  width: 400px;
}

.rooms-pic-1 figure {
  width: 100%;
}

.rooms-body {
  background: white !important;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-top: none;
  width: 100%;
}

figure .img {
  max-width: 100%;
  height: auto;
}

.contactform input[type=text], .contactform input[type=email], .contactform textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.contactform {
  width: 70%;
  padding-bottom: 4em;
  margin: auto;
}

.container-gallery {
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  justify-items: center;
  gap: 20px;
  margin: 0.2em 2em 0.2em 2em;
}

.item img {
  width: 100%;
  height: 100%;
}

.item img:hover {
  filter: blur(2px);
  filter: brightness(60%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

@media (max-width: 992px) {
  .pagination {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
  }
  .page-item {
    background-color: inherit;
    top: 0;
  }
  .label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
    top: 5.6em;
    width: 80%;
    left: 10%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    max-height: 0px;
    overflow: hidden;
    z-index: 9;
  }
  nav a {
    opacity: 1;
  }
  #toggle:checked + .menu {
    max-height: 300px !important;
  }
  header .logo {
    float: left;
    padding: 1em 0.5em 0.5em 0.5em;
  }
  .menu a {
    display: block;
    margin: 0;
  }
  .heroitems {
    height: 100vh;
  }
  .heroitems h1 {
    font-size: 40px;
  }
  sideleft, .sideright, .newsletter h1, .newsletter form, .footer, .feature-image img, .newsletter input[type="email"], button, .contactform, .button, textarea, .rooms-pic-1 {
    width: 100%;
    text-align: center;
    margin: 0.8em 0 0.8em 0;
  }
  .rooms {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .rooms-pic-1 {
    width: 300px;
  }
  .sideleft {
    padding-bottom: 1em;
  }
  .sideleft img {
    width: 80%;
  }
  .main-padding {
    padding: 2em 0;
  }
  .heroitems p {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .footer {
    margin-bottom: 1em;
  }
  button {
    margin-top: 1em !important;
  }
}

@media (max-width: 600px) {
  .rooms, .newsletter-grid, .footer-grid, .main-grid {
    grid-template-columns: 1fr;
  }
  .footer-grid {
    display: block;
  }
}

@media (max-width: 480px) {
  .heroitems h1 {
    font-size: 30px;
  }
  .container-gallery {
    width: 70vw;
  }
  .heroitems p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .page-link {
    font-size: small;
  }
}
